<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <a href="/">Home</a> {{#foundPop}}
    <div>
        <p>Character Name: {{character.name}}</p>
        <p>Release Year: {{character.description.releaseYear}}</p>
        <p>Size: {{character.description.size}}</p>
        <p>Sub Collection: {{character.description.subCollection}}</p>
        <p>Pop Collection: {{popCollection}}</p>
        <p>Collection Number: {{collectionNumber}}</p>
    </div>
    {{/foundPop}} {{#foundPop}}
    <form action="/pop/{{_id}}" method="POST">
        <label for="">Character Name:</label><input type="text" name="character.name" value="{{character.name}}">
        <label for="">Year released</label><input type="number" min="0" max="2017" name="character.description.releaseYear"
            value="{{character.description.releaseYear}}">
        <label for="">Size</label><input type="text" name="character.description.size" value="{{character.description.size}}">
        <label for="">Sub Collection</label><input type="text" name="character.description.subCollection" value="{{character.description.subCollection}}">
        <label for="">Pop Collection</label><input type="text" value="{{popCollection}}">
        <label for="">Collection Number</label><input type="number" name="collectionNumber" min="1" value="{{collectionNumber}}">
        <button type="submit">Update</button>
    </form>
    <form action="/delete/{{_id}}" method="GET">
        <button>Delete</button>
    </form>
    {{/foundPop}}

</body>

</html>