<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    {{#foundPop}}
    <div>
        <p>Character Name: {{character.name}}</p>
        <p>Release Year: {{character.description.releaseYear}}</p>
        <p>Size: {{character.description.size}}</p>
        <p>Sub Collection: {{character.subCollection}}</p>
        <p>Pop Collection: {{popColletion}}</p>
        <p>Collection Number: {{collectionNumber}}</p>
    </div>
    {{/foundPop}}

</body>

</html>